* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
  }
  .btn-group {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #ffcc00;
    color: #000;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-left: 25px;
  }
  
  .btn:hover {
    background-color: #ffd633;
  }
  
  .btn:active {
    background-color: #ff9900;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  }
  
  .play-field {
    /* background: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTA5L3Jhd3BpeGVsX29mZmljZV8yMl9zaW1wbGlmaWVkX2VtcHR5X2NvbG9zc2V1bV9taW5pbWFsaXN0X3dhbGxwYV9mYjViMjYyMS03YTJiLTQwZmEtODcwNC1hZTQyMGIxNzU4ZTRfMS5qcGc.jpg")
      no-repeat center/cover; */
    background: url("./bg.webp") no-repeat center center / cover;
  
    height: 100vh;
    position: relative;
  }
  
  .char {
    width: 65px;
    height: 65px;
    background: transparent;
    position: absolute;
    left: 20%;
    bottom: 40px;
  }
  .char img {
    width: 100%;
    object-fit: contain;
    background: transparent;
  }
  .enemyContainer {
    width: 100%;
    position: absolute;
    right: -9966px;
    bottom: 0px;
    /* display: flex; */
    /* left: 1364px; */
    width: 10000px;
    height: 100%;
    /* transform: translateX(50%); */
  }
  .enemy {
    position: absolute;
    top: 195px;
    left: 1000px;
    width: 100px;
    height: 100px;
    background: transparent;
  }
  .enemy img {
    width: 100%;
    object-fit: contain;
    background: transparent;
  }
  .coll-message {
    margin-left: 20px;
    font-family: "Press Start 2P", cursive;
    color: #ff0000;
    background-color: #000000;
    border: 4px solid #ff0000;
    padding: 20px;
    text-align: center;
    font-size: 74px;
    animation: blink 1s linear infinite;
    z-index: 3;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .game-timer {
    margin-left: 20px;
    background-color: #ff0000;
    border: 4px solid #ffd800;
    color: #ffffff;
    font-family: "Press Start 2P", cursive;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
  }
  
  .visible {
    display: block;
  }
  
  .instr-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border: 4px solid #3b0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .instr-block-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: "Press Start 2P", cursive;
  }
  
  .info-img {
    width: 50px;
  }
  
  .info-img img {
    width: 100%;
    object-fit: contain;
  }
  
  .info-content {
    flex-grow: 1;
    margin-left: 10px;
  }
  
  .hidden {
    display: none;
  }
  

  /* Media queries for different screen sizes */
@media only screen and (max-width: 320px) {
  .char {
    width: 30px;
    height: 30px;
  }
  .enemy {
    width: 45px;
    height: 45px;
  }
  .btn {
    padding: 3px 6px;
    font-size: 10px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .game-timer {
    font-size: 7px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .char {
    width: 40px;
    height: 40px;
  }
  .enemy {
    width: 60px;
    height: 60px;
  }
  .btn {
    padding: 4px 8px;
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .game-timer {
    font-size: 7px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 600px) {
  .char {
    width: 50px;
    height: 50px;
  }
  .enemy {
    width: 75px;
    height: 75px;
  }
  .btn {
    padding: 5px 10px;
    font-size: 14px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .game-timer {
    font-size: 7px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .char {
    width: 55px;
    height: 55px;
  }
  .enemy {
    width: 85px;
    height: 85px;
  }
  .btn {
    margin-top: 7px;
    margin-bottom: 7px;
    padding: 7px 14px;
    font-size: 16px;
  }
  .game-timer {
    font-size: 7px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .char {
    width: 60px;
    height: 60px;
  }
  .enemy {
    width: 90px;
    height: 90px;
  }
  .btn {
    padding: 9px 18px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 1025px) {
  .char {
    width: 65px;
    height: 65px;
  }
  .enemy {
    width: 100px;
    height: 100px;
  }
  .btn {
    padding: 10px 20px;
    font-size: 20px;
  }
}